/Esercizi di programmazione/Netbeans/ElencoParole/nbproject/private/
/Esercizi di programmazione/NetBeans/Esercizi-base/nbproject/private/
/Esercizi di programmazione/NetBeans/Esercizi_base_Domenici/build/
/Esercizi di programmazione/NetBeans/Esercizi_base_Domenici/nbproject/private/
/Esercizi di programmazione/NetBeans/Esercizi_base_Guerrini/metodi/target/
